header {
    align-items: center;
    background-color: $color-7;
    color: white;
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    justify-content: space-between;
    letter-spacing: 0.3rem;
    position: sticky;
    text-transform: uppercase;
    top: 0px;
    z-index: 10;    

    .llamanos {
        display: flex;
        justify-content: space-evenly;
        margin: 1.3vh 2vw;
    }

    .horarios {
        margin: 0vh 2vw;
    }

    .entregaYshowroom {
        display: flex;
        justify-content: flex-end;
        margin: 1.3vh 2vw;
    }

    .showroom {
        margin: 0vh 2vw;
    }

    a {
        text-decoration: none;
        color: white;
    }

    i {
        color: white;
        margin: 0vw 0.3vw;
    }
}