main {   
    .logo {
        display: flex;
        justify-content: center;        

        img {
            padding: 8vh 1vw;
            width: 16vw;
        }
    }

    nav {      
        ul {
            color: $color-5;
            display: flex;
            font-size: 3rem;
            justify-content: space-evenly;            

            a {
                text-decoration: none;
                color: black;
                transition: all 3s;

                &:visited {
                    color: black;
                }
                &:hover {
                    text-decoration: underline;
                }
            }     
        }
    }

    .marca {
        align-items: center;
        display: flex;
        flex-direction: column;
        
        .principal {            
            align-items: center;
            height: 97%;
            display: flex;
            justify-content: center;
            padding-top: 9vh;
            width: 85%;

            h1 {
                display: none;
                font-size: 12rem;
                font-family: $glamorous;
                font-weight: 100;
                color: $color-3;
                padding-top: 20vh;
                padding-right: 20vw;                
            }           

            h1 {
                display: none;                           
            }
        }

        .secciones-marca {
            color: white;
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            text-align: center;
            width: 72.34%;

            a {
                color: white;
                text-decoration: none;
            }

            h3 {
                font-family: $dancing;
                font-weight: 100;
                padding-bottom: 1vh;
            }
            
            
            .marca-pijamadas {
                background-color: $color-6;
                flex-grow: 1;
                margin: 0.5vw 0.5vw 0.5vw 0vw;          
            }

            .marca-candies {
                background-color: $color-5;
                flex-grow: 1;
                padding: 0vh 3vw;
                margin: 0.5vw 0vw 0.5vw 0vw;
            }

            .marca-pets {
                background-color: $color-7;
                flex-grow: 1;
                margin: 0.5vw 0vw 0.5vw 0.5vw;
            }
        }
    }
    
    #nosotros {
        width: 77vw;
        height: 50vh;
        display: flex;
        justify-content: center;        
        margin: 5vh auto;
        padding: 3vh 0vw;             
    
        .nosotros {
            display: flex;
            justify-content: center;                
                
            .frase {
                display: flex;
                justify-content: flex-end;
                width: 50%;                        

                h2 {
                    font-size: 5rem;
                    color: black;
                    text-align: right;
                    font-family: $amatic;
                    padding: 1vw;

                    span {
                        font-family: $glamorous;
                        font-size: 7rem;
                        color: $color-6;
                    }
                }
            }                
    
            .vision {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: justify;
                width: 50%;
                padding: 2.7vw;
                height: 100%;
                
                p {
                    font-family: $amatic;
                    font-size: 2.7rem;
                    padding-top: 2vh;
                    
                }

                .boton-galeria {
                    background-color: $color-7;
                    font-size: 3rem;
                    text-align: center;
                    border-radius: 35px;
                    margin-top: 5vh;
                    transition: all 0.4s;

                    &:hover {
                        transform: scale(1.3);
                    }
                    

                    a {
                        text-decoration: none;
                        color: white;
                        padding: 5vh 3.5vw;
                    }

                }
            }
        }
    }

    #productos {
        display: flex;
        justify-content: center;
        margin: 30vh auto 0vh;    
        width: 85vw;
    
        .productos {
            align-items: flex-start;
            display: flex;
            flex-grow: 1;
            justify-content: space-evenly;
            padding: 10vh 0vw;
            
            h3 {
                font-size: 3.5rem;
            }

            img {
                width: 20vw;
                padding-top: 1.5vh;
                padding-bottom: 3.5vh;
            }

            p {
                font-size: 2.2vw;
                text-align: justify;
                padding-top: 1.5vh;
                padding-bottom: 3vh;
                width: 20vw;
            }

            .Ble {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                .imagen {
                width: 20vw;
                height: 25vh;
                }
                               
                .Pij {
                    background-image: url('../img/Pijamadas/pijamadas11.png');
                    background-position: center;
                    background-size: cover;
                }

                .C {
                    background-image: url('../img/Candies/Candies4.png');
                    background-position: center bottom;
                    background-size: cover;
                }

                .Pets {
                    background-image: url('../img/Pets/pets7.png');
                    background-position: center;
                    background-size: cover;
                }

                .boton1 {
                @include boton($color-6,12vw); 
                    a{
                        text-decoration: none;
                        &:visited {
                            color: white;
                        }
                    }               
                }

                .boton2 {
                    @include boton($color-5,12vw);
                    a{
                        text-decoration: none;
                        &:visited {
                            color: white;
                        }
                    }                     
                }

                .boton3 {
                    @include boton($color-7,12vw);
                    a{
                        text-decoration: none;
                        &:visited {
                            color: white;
                        }
                    }                     
                }
            }
        }          
    }

    #clientes {
        align-items:center;
        display: flex;
        justify-content: center;
        margin: 0vh auto;
        padding-top: 10vh;
        width: 85vw;
        
        .clientes {            
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-grow: 1;            
            justify-content: center;

            .cara {
                color: $color-7;
                font-size: 10rem;
            }

            h4 {
                font-size: 5rem;
                text-align: right;
                font-family: $amatic;
                padding: 1vw;
            }                    
        }        

        .experiencia {
            background-color: white;
            display: flex;
            flex-grow: 1;
            height: 90vh;                                    
            justify-content: center;             
        }            
    }

    #contactanos {
        padding-top: 0.5vh;    

        .contactanos {
            align-items: center;
            background-color: $color-5;
            border-radius: 30px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10vh auto;
            padding: 6vh 0vh;            
            width: 60%;

            h4 {
                font-size: 5.5rem;
                font-weight: bold;                
            }

            .links-contacto {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
            }

            a {
                color: white;
                font-size: 3rem;
                text-decoration: none;
                padding: 2vh 2vw;

                i {
                    padding: 2vh 2vw;
                }
            }         
        }
    }    
}