@font-face {
  font-family: 'Amatic SC';
  src: url("../Fuentes/Amatic_SC/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: 'Assistant', sans-serif;
  src: url("../Fuentes/Assistant/Assistant-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Caveat';
  src: url("../Fuentes/Caveat/Caveat-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Covered By Your Grace';
  src: url("../Fuentes/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf");
}

@font-face {
  font-family: 'Dancing Script';
  src: url("../Fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'One Starry Night';
  src: url("../Fuentes/one-starry-night/One Starry Night.ttf");
}

@font-face {
  font-family: 'bakery';
  src: url("../Fuentes/bakery/bakery.ttf");
}

@font-face {
  font-family: 'prestige-signature-script';
  src: url("../Fuentes/Prestige Signature Script - Demo/Prestige Signature Script - Demo.ttf");
}

@font-face {
  font-family: 'simply-glamorous';
  src: url("../Fuentes/simply-glamorous/Simply Glamorous.ttf");
}

@font-face {
  font-family: 'sweet-hipster';
  src: url("../Fuentes/sweet-hipster/Sweet Hipster.ttf");
}

@font-face {
  font-family: 'angelic-peace';
  src: url("../Fuentes/angelic-peace/Angelic Peace.ttf");
}

@font-face {
  font-family: 'awesome-birds';
  src: url("../Fuentes/awesome-birds/Awesome Birds.ttf");
}

@font-face {
  font-family: 'celosia-golden-font';
  src: url("../Fuentes/celosia-golden-font/CelosiaGolden-7BYR4.ttf");
}

@font-face {
  font-family: 'charlotte';
  src: url("../Fuentes/charlotte/charlotte.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Amatic SC", cursive;
}

body {
  font-size: 12px;
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #907cc9;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.3rem;
  position: -webkit-sticky;
  position: sticky;
  text-transform: uppercase;
  top: 0px;
  z-index: 10;
}

header .llamanos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.3vh 2vw;
}

header .horarios {
  margin: 0vh 2vw;
}

header .entregaYshowroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1.3vh 2vw;
}

header .showroom {
  margin: 0vh 2vw;
}

header a {
  text-decoration: none;
  color: white;
}

header i {
  color: white;
  margin: 0vw 0.3vw;
}

main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .logo img {
  padding: 8vh 1vw;
  width: 16vw;
}

main nav ul {
  color: #207391;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main nav ul a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 3s;
  transition: all 3s;
}

main nav ul a:visited {
  color: black;
}

main nav ul a:hover {
  text-decoration: underline;
}

main .marca {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .marca .principal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 9vh;
  width: 85%;
}

main .marca .principal h1 {
  display: none;
  font-size: 12rem;
  font-family: "simply-glamorous";
  font-weight: 100;
  color: #f0eafb;
  padding-top: 20vh;
  padding-right: 20vw;
}

main .marca .principal h1 {
  display: none;
}

main .marca .secciones-marca {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  text-align: center;
  width: 72.34%;
}

main .marca .secciones-marca a {
  color: white;
  text-decoration: none;
}

main .marca .secciones-marca h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 100;
  padding-bottom: 1vh;
}

main .marca .secciones-marca .marca-pijamadas {
  background-color: #27ccc4;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.5vw 0.5vw 0.5vw 0vw;
}

main .marca .secciones-marca .marca-candies {
  background-color: #207391;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0vh 3vw;
  margin: 0.5vw 0vw 0.5vw 0vw;
}

main .marca .secciones-marca .marca-pets {
  background-color: #907cc9;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0.5vw 0vw 0.5vw 0.5vw;
}

main #nosotros {
  width: 77vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5vh auto;
  padding: 3vh 0vw;
}

main #nosotros .nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #nosotros .nosotros .frase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

main #nosotros .nosotros .frase h2 {
  font-size: 5rem;
  color: black;
  text-align: right;
  font-family: "Amatic SC", cursive;
  padding: 1vw;
}

main #nosotros .nosotros .frase h2 span {
  font-family: "simply-glamorous";
  font-size: 7rem;
  color: #27ccc4;
}

main #nosotros .nosotros .vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  width: 50%;
  padding: 2.7vw;
  height: 100%;
}

main #nosotros .nosotros .vision p {
  font-family: "Amatic SC", cursive;
  font-size: 2.7rem;
  padding-top: 2vh;
}

main #nosotros .nosotros .vision .boton-galeria {
  background-color: #907cc9;
  font-size: 3rem;
  text-align: center;
  border-radius: 35px;
  margin-top: 5vh;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

main #nosotros .nosotros .vision .boton-galeria:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main #nosotros .nosotros .vision .boton-galeria a {
  text-decoration: none;
  color: white;
  padding: 5vh 3.5vw;
}

main #productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30vh auto 0vh;
  width: 85vw;
}

main #productos .productos {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10vh 0vw;
}

main #productos .productos h3 {
  font-size: 3.5rem;
}

main #productos .productos img {
  width: 20vw;
  padding-top: 1.5vh;
  padding-bottom: 3.5vh;
}

main #productos .productos p {
  font-size: 2.2vw;
  text-align: justify;
  padding-top: 1.5vh;
  padding-bottom: 3vh;
  width: 20vw;
}

main #productos .productos .Ble {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #productos .productos .Ble .imagen {
  width: 20vw;
  height: 25vh;
}

main #productos .productos .Ble .Pij {
  background-image: url("../img/Pijamadas/pijamadas11.png");
  background-position: center;
  background-size: cover;
}

main #productos .productos .Ble .C {
  background-image: url("../img/Candies/Candies4.png");
  background-position: center bottom;
  background-size: cover;
}

main #productos .productos .Ble .Pets {
  background-image: url("../img/Pets/pets7.png");
  background-position: center;
  background-size: cover;
}

main #productos .productos .Ble .boton1 {
  background-color: #27ccc4;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 35px;
  margin-top: 5vh;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 12vw;
}

main #productos .productos .Ble .boton1:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main #productos .productos .Ble .boton1 a {
  text-decoration: none;
}

main #productos .productos .Ble .boton1 a:visited {
  color: white;
}

main #productos .productos .Ble .boton2 {
  background-color: #207391;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 35px;
  margin-top: 5vh;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 12vw;
}

main #productos .productos .Ble .boton2:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main #productos .productos .Ble .boton2 a {
  text-decoration: none;
}

main #productos .productos .Ble .boton2 a:visited {
  color: white;
}

main #productos .productos .Ble .boton3 {
  background-color: #907cc9;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 35px;
  margin-top: 5vh;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 12vw;
}

main #productos .productos .Ble .boton3:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main #productos .productos .Ble .boton3 a {
  text-decoration: none;
}

main #productos .productos .Ble .boton3 a:visited {
  color: white;
}

main #clientes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0vh auto;
  padding-top: 10vh;
  width: 85vw;
}

main #clientes .clientes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #clientes .clientes .cara {
  color: #907cc9;
  font-size: 10rem;
}

main #clientes .clientes h4 {
  font-size: 5rem;
  text-align: right;
  font-family: "Amatic SC", cursive;
  padding: 1vw;
}

main #clientes .experiencia {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #contactanos {
  padding-top: 0.5vh;
}

main #contactanos .contactanos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #207391;
  border-radius: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10vh auto;
  padding: 6vh 0vh;
  width: 60%;
}

main #contactanos .contactanos h4 {
  font-size: 5.5rem;
  font-weight: bold;
}

main #contactanos .contactanos .links-contacto {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #contactanos .contactanos a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
  padding: 2vh 2vw;
}

main #contactanos .contactanos a i {
  padding: 2vh 2vw;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #207391;
}

.pie a {
  text-decoration: none;
}

.pie a img {
  width: 2vw;
  margin: 1vh;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }
  main .logo img {
    padding: 2vh 1vw;
  }
  main .marca {
    width: 100vw;
    height: 45vh;
    margin: 0vh auto;
  }
  main .marca .principal {
    padding-top: 3vh;
    height: 75%;
  }
  main #nosotros {
    margin: 0vh auto;
    height: 100%;
  }
  main #nosotros .nosotros .frase h2 {
    font-size: 4.5rem;
  }
  main #nosotros .nosotros .frase h2 span {
    font-size: 5.5rem;
  }
  main #nosotros .nosotros .vision {
    padding: 0vw 2.7vw 0vh 2.7vw;
  }
  main #nosotros .nosotros .vision p {
    font-size: 3.5rem;
  }
  main #nosotros .nosotros .vision .boton-galeria a {
    padding: 0vh 3.5vw 10vh;
  }
  main #productos {
    margin: 0vh auto;
  }
  main #productos .productos {
    padding-bottom: 0vh;
  }
  main #clientes {
    margin: 0vh auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main #clientes .experiencia {
    height: 50vh;
  }
  main #clientes .experiencia video {
    height: 45vh;
  }
  main #contactanos {
    width: 75vw;
    margin: 0vh auto;
  }
  main #contactanos .contactanos {
    width: 100%;
    margin: 5vh auto;
  }
  main #contactanos .contactanos h4 {
    font-size: 6rem;
  }
  main #contactanos .contactanos a {
    font-size: 4rem;
    padding: 3vh 2vw 0vh;
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 4px;
  }
  header {
    font-size: 3rem;
    font-weight: bold;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .horarios span {
    display: none;
  }
  header a.showroom {
    display: none;
  }
  main section .logo {
    margin: 0vh auto;
    width: 30vw;
  }
  main section .logo img {
    width: 30vw;
  }
  main nav ul {
    font-size: 4rem;
    font-weight: bold;
  }
  main .marca {
    height: 60%;
    margin: 0vh auto;
    width: 95vw;
  }
  main .marca .principal {
    width: 90vw;
  }
  main .marca .principal video {
    width: 100%;
  }
  main .marca .secciones-marca {
    width: 90vw;
    font-size: 3rem;
  }
  main .marca .secciones-marca h3 {
    display: none;
  }
  main #nosotros {
    width: 95vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
  main #nosotros .nosotros {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #nosotros .nosotros .frase {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    width: 100%;
  }
  main #nosotros .nosotros .frase h2 {
    text-align: left;
  }
  main #nosotros .nosotros .frase h2 br {
    display: none;
  }
  main #nosotros .nosotros .vision {
    padding: 0vh 3vw 2vw 3vw;
    width: 100%;
  }
  main #nosotros .nosotros .vision p {
    font-size: 3.8rem;
  }
  main #nosotros .nosotros .vision .boton-galeria {
    font-size: 4rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 25vw;
  }
  main #productos {
    width: 95vw;
  }
  main #productos .productos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  main #productos .productos h3 {
    font-size: 6rem;
  }
  main #productos .productos img {
    width: 75vw;
  }
  main #productos .productos p {
    font-size: 5rem;
    width: 75vw;
  }
  main #productos .productos .Ble .imagen {
    width: 75vw;
  }
  main #productos .productos .Ble .boton1, main #productos .productos .Ble .boton2, main #productos .productos .Ble .boton3 {
    width: 25vw;
    font-size: 4rem;
    margin-top: 0vh;
    margin-bottom: 6vh;
  }
  main #clientes {
    margin-top: 0vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100vw;
  }
  main #clientes .experiencia video {
    height: 100%;
  }
  main #contactanos {
    width: 95vw;
  }
  footer .pie a img {
    width: 5vw;
  }
}
/*# sourceMappingURL=estilos.css.map */