body, html {
    overflow-x: hidden;       
} 

.parallax-content { 
    height: 100vh;
    width: 100vw;
    overflow-x: hidden; 
    overflow-y: auto; 
    perspective: 0.9px;
  
    .titulo {
        font-size: 5rem;
        text-align: center;
        margin: 8vh 0vw;
    }       

    .parallax-section {
        margin: 2vh 15vw;

        .parallax-img {
            position: absolute;
            top: 0vh;
            right: 0;
            left: 0;
            transform: translateZ(-1px) scale(3.5);
            background-size: 100%;
            z-index: -1;
            margin: auto;                      
        }
        
        .segunda {
            top: 100vh;
        }
        .tercera {
            top: 200vh;
        }
    }

    .inicio {        
        background-color: #27ccc4;
        font-size: 3rem;
        text-align: center;
        border-radius: 35px;
        color: white;
        transition: all 0.4s;
        width: 16vw;
        margin: 0vh auto 5vh;
        padding: 0.5vh 0vh;

        &:hover {
        transform: scale(1.3);
        }
        
        a {
            text-decoration: none;

            &:visited {
            color: white;
            }         
        }       
    }

    .grid-container-pij {
        display: grid;
        grid-template-rows: repeat(6, 12vw);
        grid-template-columns: repeat(5,12vw);
        grid-gap: 2.1vw;
        margin-right: auto;                  
        
        img {
            width: 12vw;
            height: 12vw;
        }
    }
    
    .grid-container-can {
        display: grid;
        grid-template-rows: repeat(4, 12vw);
        grid-template-columns: repeat(5,12vw);
        grid-gap: 2.1vw;
        margin-right: auto;                  
        
        img {
            width: 12vw;
            height: 12vw;
        }
    } 

    .grid-container-pet {
        display: grid;
        grid-template-rows: repeat(7, 12vw);
        grid-template-columns: repeat(5,12vw);
        grid-gap: 2.1vw;
        margin-right: auto;
        margin-bottom: 15vh;                  
        
        img {
            width: 12vw;
            height: 12vw;
        }
    }

    .grid-item1, .grid-item2, .grid-item3, 
    .grid-item4, .grid-item5, .grid-item6, 
    .grid-item7, .grid-item8, .grid-item9,
    .grid-item10, .grid-item11, .grid-item12,
    .grid-item13, .grid-item14, .grid-item15,
    .grid-item16, .grid-item17, .grid-item18,
    .grid-item19, .grid-item20, .grid-item21,
    .grid-item22, .grid-item23, .grid-item24,
    .grid-item25, .grid-item26, .grid-item27,
    .grid-item28, .grid-item29, .grid-item30,
    .grid-item31, .grid-item32, .grid-item33,
    .grid-item34, .grid-item35, .grid-item36,
    .grid-item37, .grid-item38, .grid-item39,
    .grid-item40, .grid-item41, .grid-item42,
    .grid-item43, .grid-item44, .grid-item45,
    .grid-item46, .grid-item47, .grid-item48,
    .grid-item49, .grid-item50, .grid-item51,
    .grid-item52, .grid-item53, .grid-item53,
    .grid-item54, .grid-item55, .grid-item56,
    .grid-item57, .grid-item58, .grid-item59,
    .grid-item60, .grid-item61, .grid-item62,
    .grid-item63, .grid-item64, .grid-item65,
    .grid-item66, .grid-item67, .grid-item68,
    .grid-item69, .grid-item70, .grid-item71,
    .grid-item72, .grid-item73, .grid-item74,
    .grid-item75, .grid-item76, .grid-item77,
    .grid-item78, .grid-item79, .grid-item80,
    .grid-item81, .grid-item82, .grid-item83,
    .grid-item84, .grid-item85 {
        box-shadow:2px 2px 20px;
        transition: all 0.5s;
        background-size: cover;
        background-position: center;        

        &:hover {
            transform: scale(2.5);
        }
    }

    .grid-item1 {
        background-image: url('../img/Pijamadas/P2.jpeg');
    }
    .grid-item2 {
        background-image: url('../img/Pijamadas/P5.jpeg');
    }
    .grid-item3 {
        background-image: url('../img/Pijamadas/P10.jpeg');
    }
    .grid-item4 {
        background-image: url('../img/Pijamadas/P12.jpeg');
    }
    .grid-item5 {
        background-image: url('../img/Pijamadas/P13.jpeg');
    }
    .grid-item6 {
        background-image: url('../img/Pijamadas/P14.jpeg');
    }
    .grid-item7 {
        background-image: url('../img/Pijamadas/P17.jpeg');
    }
    .grid-item8 {
        background-image: url('../img/Pijamadas/P20.jpeg');
    }
    .grid-item9 {
        background-image: url('../img/Pijamadas/P22.jpeg');
    }
    .grid-item10 {
        background-image: url('../img/Pijamadas/P25.jpeg');
    }
    .grid-item11 {
        background-image: url('../img/Pijamadas/P30.jpeg');
    }
    .grid-item12 {
        background-image: url('../img/Pijamadas/P43.jpeg');
    }
    .grid-item13 {
        background-image: url('../img/Pijamadas/P58.jpeg');
    }
    .grid-item14 {
        background-image: url('../img/Pijamadas/pijamadas1.png');
    }
    .grid-item15 {
        background-image: url('../img/Pijamadas/pijamadas2.png');
    }
    .grid-item16 {
        background-image: url('../img/Pijamadas/pijamadas4.png');
    }
    .grid-item17 {
        background-image: url('../img/Pijamadas/pijamadas8.png');
    }
    .grid-item18 {
        background-image: url('../img/Pijamadas/pijamadas13.png');
    }
    .grid-item19 {
        background-image: url('../img/Pijamadas/pijamadas15.png');
    }
    .grid-item20 {
        background-image: url('../img/Pijamadas/pijamadas18.png');
    }
    .grid-item21 {
        background-image: url('../img/Pijamadas/pijamadas12.png');
    }
    .grid-item22 {
        background-image: url('../img/Pijamadas/pijamadas10.png');
    }
    .grid-item23 {
        background-image: url('../img/Pijamadas/pijamadas16.png');
    }
    .grid-item24 {
        background-image: url('../img/Pijamadas/pijamadas17.png');
    }
    .grid-item25 {
        background-image: url('../img/Pijamadas/pijamadas21.png');
    }
    .grid-item26 {
        background-image: url('../img/Candies/Candies0.png');
    }
    .grid-item27 {
        background-image: url('../img/Candies/Candies1.png');
    }
    .grid-item28 {
        background-image: url('../img/Candies/Candies2.png');
    }
    .grid-item29 {
        background-image: url('../img/Candies/Candies3.png');
    }
    .grid-item30 {
        background-image: url('../img/Candies/Candies4.png');
    }
    .grid-item31 {
        background-image: url('../img/Candies/Candies5.png');
    }
    .grid-item32 {
        background-image: url('../img/Candies/Candies6.png');
    }
    .grid-item33 {
        background-image: url('../img/Candies/Candies7.png');
    }
    .grid-item34 {
        background-image: url('../img/Candies/Candies8.png');
    }
    .grid-item35 {
        background-image: url('../img/Candies/Candies9.png');
    }
    .grid-item36 {
        background-image: url('../img/Candies/Candies10.png');
    }
    .grid-item37 {
        background-image: url('../img/Candies/Candies11.png');
    }
    .grid-item38 {
        background-image: url('../img/Candies/Candies12.png');
    }
    .grid-item39 {
        background-image: url('../img/Candies/Candies13.png');
    }
    .grid-item40 {
        background-image: url('../img/Candies/c1.jpeg');    
    }
    .grid-item41 {
        background-image: url('../img/Pets/P1.jpeg');
    }
    .grid-item42 {
        background-image: url('../img/Pets/P2.jpeg');
    }
    .grid-item43 {
        background-image: url('../img/Pets/P13.jpeg');
    }
    .grid-item44 {
        background-image: url('../img/Pets/P4.jpeg');
    }
    .grid-item45 {
        background-image: url('../img/Pets/P5.jpeg');
    }
    .grid-item46 {
        background-image: url('../img/Pets/pets3.png');
    }
    .grid-item47 {
        background-image: url('../img/Pets/P7.jpeg');
    }
    .grid-item48 {
        background-image: url('../img/Pets/P8.jpeg');
    }
    .grid-item49 {
        background-image: url('../img/Pets/P9.jpeg');
    }
    .grid-item50 {
        background-image: url('../img/Pets/P11.jpeg');
    }
    .grid-item51 {
        background-image: url('../img/Pets/P12.jpeg');
    }
    .grid-item52 {
        background-image: url('../img/Pets/P14.jpeg');
    }
    .grid-item53 {
        background-image: url('../img/Pets/pets1.png');
    }
    .grid-item54 {
        background-image: url('../img/Pets/pets2.png');
    }
    .grid-item55 {
        background-image: url('../img/Pets/pets4.png');
    }
    .grid-item56 {
        background-image: url('../img/Pets/pets5.png');
    }
    .grid-item57 {
        background-image: url('../img/Pets/pets6.png');
    }
    .grid-item58 {
        background-image: url('../img/Pets/pets7.png');
    }
    .grid-item59 {
        background-image: url('../img/Pets/pets8.png');
    }
    .grid-item60 {
        background-image: url('../img/Pets/pets9.png');
    }    
    .grid-item61 {
        background-image: url('../img/Pijamadas/z1.jpeg');
    }   
    .grid-item62 {
        background-image: url('../img/Pijamadas/z2.jpeg');
    }  
    .grid-item63 {
        background-image: url('../img/Pijamadas/z3.jpeg');
    } 
    .grid-item64 {
        background-image: url('../img/Pijamadas/z4.jpeg');
    }   
    .grid-item65 {
        background-image: url('../img/Pijamadas/z6.jpeg');
    }  
    .grid-item66 {
        background-image: url('../img/Candies/C2.png');
    }  
    .grid-item67 {
        background-image: url('../img/Candies/C8.jpeg');
    }  
    .grid-item68 {
        background-image: url('../img/Candies/z1.jpeg');
    }  
    .grid-item69 {
        background-image: url('../img/Candies/C3.jpeg');
    }  
    .grid-item70 {
        background-image: url('../img/Candies/C11.png');
    }  
    .grid-item71 {
        background-image: url('../img/Pets/z2.jpeg');
    } 
    .grid-item72 {
        background-image: url('../img/Pets/z4.jpeg');
    } 
    .grid-item73 {
        background-image: url('../img/Pets/z6.jpeg');
    } 
    .grid-item74 {
        background-image: url('../img/Pets/z7.jpeg');
    } 
    .grid-item75 {
        background-image: url('../img/Pets/z9.jpeg');
    } 
    .grid-item76 {
        background-image: url('../img/Pets/z10.jpeg');
    } 
    .grid-item77 {
        background-image: url('../img/Pets/z11.jpeg');
    } 
    .grid-item78 {
        background-image: url('../img/Pets/z12.jpeg');
    } 
    .grid-item79 {
        background-image: url('../img/Pets/z22.jpeg');
    } 
    .grid-item80 {
        background-image: url('../img/Pets/z14.jpeg');
    } 
    .grid-item81 {
        background-image: url('../img/Pets/z15.jpeg');
    } 
    .grid-item82 {
        background-image: url('../img/Pets/z16.jpeg');
    } 
    .grid-item83 {
        background-image: url('../img/Pets/z17.jpeg');
    } 
    .grid-item84 {
        background-image: url('../img/Pets/z18.jpeg');
    } 
    .grid-item85 {
        background-image: url('../img/Pets/z21.jpeg');
    }   
}

@media screen and (max-width: 768px) {
    header {
        font-size: 3.3rem;
        font-weight: bold;        
        
        .horarios {
            span {
                display: none;
            }
        }
    }

    .parallax-content {        
        
        .titulo {
            font-size: 5rem;
            text-align: center;
            margin: 4vh 0;
        }  

        .inicio {
            font-size: 4rem;
            width: 20vw;
        }
    
        .parallax-section {
            padding-left: 0vw;
            margin-left: 14.5vw;
               
            .parallax-img {        
                transform: translateZ(-1px) scale(2);
                background-size: 100%;                        
            }        

            .tercera {
                display: none;
            }
        }

        .grid-container-pij {
            grid-template-rows: repeat(7, 16vw);
            grid-template-columns: repeat(4,16vw);
            grid-gap: 2.1vw;           
                
            img {
                width: 16vw;
                height: 16vw;
            }
        }
        
        .grid-container-can {
            grid-template-rows: repeat(4, 16vw);
            grid-template-columns: repeat(4,16vw);
            grid-gap: 2.1vw;                        
            
            img {
                width: 16vw;
                height: 16vw;
            }
        } 

        .grid-container-pet {            
            grid-template-rows: repeat(7, 16vw);
            grid-template-columns: repeat(4,16vw);
            grid-gap: 2.1vw;                            
            
            img {
                width: 16vw;
                height: 16vw;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    html {
        font-size: 4px;        
    }

    header {
        font-size: 3.8rem;
        font-weight: bold;
        justify-content: space-between;
    }

    .parallax-content {
        .inicio {
            font-size: 4rem;
            width: 25vw;
        }  

        section .logo {

            width: 30vw;
            margin: 0vh auto;

            img {
                width: 30vw;
            }
        }
        
        .titulo {
            font-size: 7rem;            
        } 
    
        .grid-item1, .grid-item2, .grid-item3, 
        .grid-item4, .grid-item5, .grid-item6, 
        .grid-item7, .grid-item8, .grid-item9,
        .grid-item10, .grid-item11, .grid-item12,
        .grid-item13, .grid-item14, .grid-item15,
        .grid-item16, .grid-item17, .grid-item18,
        .grid-item19, .grid-item20, .grid-item21,
        .grid-item22, .grid-item23, .grid-item24,
        .grid-item25, .grid-item26, .grid-item27,
        .grid-item28, .grid-item29, .grid-item30,
        .grid-item31, .grid-item32, .grid-item33,
        .grid-item34, .grid-item35, .grid-item36,
        .grid-item37, .grid-item38, .grid-item39,
        .grid-item40, .grid-item41, .grid-item42,
        .grid-item43, .grid-item44, .grid-item45,
        .grid-item46, .grid-item47, .grid-item48,
        .grid-item49, .grid-item50, .grid-item51,
        .grid-item52, .grid-item53, .grid-item53,
        .grid-item54, .grid-item55, .grid-item56,
        .grid-item57, .grid-item58, .grid-item59,
        .grid-item60 {
            box-shadow:2px 2px 5px;
            transition: all 0.4s;
            
            &:hover {
                transform: scale(3);
            }
        }

        .parallax-section {                     
            .segunda {
                display: none;
            }
        }
    }
}
