body, html {
  overflow-x: hidden;
}

.parallax-content {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 0.9px;
          perspective: 0.9px;
}

.parallax-content .info-pijamadas, .parallax-content .info-can, .parallax-content .info-pet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parallax-content .info-pijamadas h4, .parallax-content .info-can h4, .parallax-content .info-pet h4 {
  font-size: 4rem;
  text-align: center;
  padding: 4vh 0vw;
}

.parallax-content .info-pijamadas .parrafo, .parallax-content .info-can .parrafo, .parallax-content .info-pet .parrafo {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  margin: 0vh auto;
  width: 70%;
}

.parallax-content .info-pijamadas img, .parallax-content .info-can img, .parallax-content .info-pet img {
  margin: 2vh auto;
  width: 40%;
}

.parallax-content .titulo {
  font-size: 5rem;
  margin: 8vh 0vw;
  text-align: center;
}

.parallax-content .info-entrega {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  margin: 2vh 5vw;
  text-align: center;
  width: 90%;
}

.parallax-content .parallax-section {
  margin: 2vh 20vw;
}

.parallax-content .parallax-section .parallax-img {
  background-size: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0vh;
  -webkit-transform: translateZ(-1px) scale(3.5);
          transform: translateZ(-1px) scale(3.5);
  z-index: -1;
}

.parallax-content .parallax-section .segunda {
  top: 100vh;
}

.parallax-content .parallax-section .tercera {
  top: 300vh;
}

.parallax-content .parallax-section .cuarta {
  top: 400vh;
}

.parallax-content .parallax-section .quinta {
  top: 500vh;
}

.parallax-content .parallax-section .sexta {
  top: 600vh;
}

.parallax-content .parallax-section .septima {
  top: 700vh;
}

.parallax-content .parallax-section .octava {
  top: 800vh;
}

.parallax-content .parallax-section .novena {
  top: 900vh;
}

.parallax-content .parallax-section .decima {
  top: 1000vh;
}

.parallax-content .parallax-section .decima1 {
  top: 1100vh;
}

.parallax-content .parallax-section .decima2 {
  top: 1200vh;
}

.parallax-content .parallax-section .decima3 {
  top: 1300vh;
}

.parallax-content .parallax-section .decima4 {
  top: 1400vh;
}

.parallax-content .inicio {
  background-color: #27ccc4;
  border-radius: 35px;
  color: white;
  font-size: 3rem;
  margin: 0vh auto 5vh;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 0.5vh 0vh;
  width: 16vw;
}

.parallax-content .inicio:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.parallax-content .inicio a {
  text-decoration: none;
}

.parallax-content .inicio a:visited {
  color: white;
}

@media screen and (max-width: 768px) {
  header {
    font-size: 3.3rem;
    font-weight: bold;
  }
  header .horarios span {
    display: none;
  }
  .parallax-content .titulo {
    text-align: center;
    margin: 4vh 0vw;
  }
  .parallax-content .inicio {
    font-size: 4rem;
    width: 20vw;
  }
  .parallax-content .parallax-section {
    margin-left: auto;
    padding-left: 2vw;
  }
  .parallax-content .parallax-section .parrafo {
    font-size: 7rem;
  }
  .parallax-content .parallax-section .parallax-img {
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
    background-size: 100%;
  }
  .parallax-content .info-pijamadas .parrafo, .parallax-content .info-can .parrafo, .parallax-content .info-pet .parrafo {
    font-size: 3.5rem;
  }
  .parallax-content .decima, .parallax-content .decima1,
  .parallax-content .decima2, .parallax-content .decima3, .parallax-content .decima4 {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 3px;
  }
  header {
    font-size: 3.8rem;
    font-weight: bold;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .parallax-content .inicio {
    font-size: 4rem;
    width: 25vw;
  }
  .parallax-content section .logo {
    width: 30vw;
    margin: 0vh auto;
  }
  .parallax-content section .logo img {
    width: 30vw;
  }
  .parallax-content .titulo {
    font-size: 7rem;
  }
  .parallax-content .info-pijamadas h4, .parallax-content .info-can h4, .parallax-content .info-pet h4 {
    font-size: 8rem;
    padding: 1vh 0vw;
  }
  .parallax-content .info-pijamadas .parrafo, .parallax-content .info-can .parrafo, .parallax-content .info-pet .parrafo {
    width: 90%;
    font-size: 6rem;
    font-weight: bold;
  }
  .parallax-content .octava, .parallax-content .novena, .parallax-content .decima, .parallax-content .decima1,
  .parallax-content .decima2, .parallax-content .decima3, .parallax-content .decima4 {
    display: none;
  }
  .parallax-content .info-entrega {
    font-size: 6rem;
    font-weight: bold;
  }
  .parallax-content .titulo {
    font-size: 9rem;
  }
}
/*# sourceMappingURL=informacion.css.map */