@font-face {
    font-family: 'Amatic SC';
    src: url('../Fuentes/Amatic_SC/AmaticSC-Bold.ttf');
}

@font-face {
    font-family: 'Assistant', sans-serif;
    src: url('../Fuentes/Assistant/Assistant-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Caveat';
    src: url('../Fuentes/Caveat/Caveat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Covered By Your Grace';
    src: url('../Fuentes/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf');
} 

@font-face {
    font-family: 'Dancing Script';
    src: url('../Fuentes/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'One Starry Night';
    src: url('../Fuentes/one-starry-night/One\ Starry\ Night.ttf');
}

@font-face {
    font-family: 'bakery';
    src: url('../Fuentes/bakery/bakery.ttf');
}

@font-face {
    font-family: 'prestige-signature-script';
    src: url('../Fuentes/Prestige Signature Script - Demo/Prestige Signature Script - Demo.ttf');
}

@font-face {
    font-family: 'simply-glamorous';
    src: url('../Fuentes/simply-glamorous/Simply\ Glamorous.ttf');
}

@font-face {
    font-family: 'sweet-hipster';
    src: url('../Fuentes/sweet-hipster/Sweet\ Hipster.ttf');
}

@font-face {
    font-family: 'angelic-peace';
    src: url('../Fuentes/angelic-peace/Angelic\ Peace.ttf');
}

@font-face {
    font-family: 'awesome-birds';
    src: url('../Fuentes/awesome-birds/Awesome\ Birds.ttf');   
}

@font-face {
    font-family: 'celosia-golden-font';
    src: url('../Fuentes/celosia-golden-font/CelosiaGolden-7BYR4.ttf');
}

@font-face {
    font-family: 'charlotte';
    src: url('../Fuentes/charlotte/charlotte.ttf');
}