$color-1: #ace2d5;
$color-2: #d9efea;
$color-3: #f0eafb;
$color-4: #a7e5e0;
$color-5: #207391;
$color-6: #27ccc4;
$color-7: #907cc9;
$amatic: 'Amatic SC', cursive;
$assistant: 'Assistant', sans-serif;
$caveat: 'Caveat', cursive;
$grace: 'Covered By Your Grace', cursive;
$dancing: 'Dancing Script', cursive;
$starry: 'One Starry Night';
$bakery: 'bakery';
$prestige: 'prestige-signature-script';
$glamorous: 'simply-glamorous';
$hipster: 'sweet-hipster';
$angelic: 'angelic-peace';
$awesome: 'awesome-birds';
$celosia: 'celosia-golden-font';
$charlotte: 'charlotte';